In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
from  pyspark.conf import  SparkConf
from pyspark import SparkContext

    #SparkContext OLUSTURMA YONTEM-1: SparkSession

In [3]:
pyspark= SparkSession.builder \
.master("local[4]") \
.appName("RDD-Olusturmak") \
.config("spark.executor.memory","4g") \
.config("spark.driver.memory","2g") \
.getOrCreate()

In [4]:
sc=pyspark.sparkContext

In [6]:
rdd1=sc.parallelize([("Ahmet",25),("Cemal",29),("İnci",38),("Burcu",33)])

In [9]:
rdd1.take(2)

AttributeError: 'NoneType' object has no attribute 'sc'

In [8]:
sc.stop()

      SparkContext OLUSTURMA YONTEM-2: ParkSession ve SparkConf

In [10]:
from pyspark.sql import SparkSession
from  pyspark.conf import  SparkConf
from pyspark import SparkContext

In [11]:
conf= SparkConf() \
.setMaster("local[4]") \
.setAppName("RDD-Olusturmak") \
.setExecutorEnv("spark.executor.memory","4g") \
.setExecutorEnv("spark.driver.memory","4g") \

pyspark=SparkSession.builder \
.config(conf=conf) \
.getOrCreate()

In [13]:
sc=pyspark.sparkContext

In [14]:
rdd1=sc.parallelize([("Ahmet",25),("Cemal",29),("İnci",38),("Burcu",33)])

In [15]:
rdd1.take(2)

[('Ahmet', 25), ('Cemal', 29)]

In [16]:
sc.stop()

    SparkContext OLUSTURMA YONTEM-3: SparkContext ve SparkConf

In [27]:
from pyspark.sql import SparkSession
from  pyspark.conf import  SparkConf
from pyspark import SparkContext

In [28]:
conf= SparkConf() \
.setMaster("local[4]") \
.setAppName("RDD-Olusturmak") \
.setExecutorEnv("spark.executor.memory","4g") \
.setExecutorEnv("spark.driver.memory","4g") \

In [29]:
sc= SparkContext(conf=conf)

In [30]:
rdd1=sc.parallelize([("Ahmet",25),("Cemal",29),("İnci",38),("Burcu",33)])

In [24]:
rdd1.take(2)

[('Ahmet', 25), ('Cemal', 29)]

In [34]:
sc.stop()

In [31]:
rdd2=sc.parallelize([["ahmet",25],["cemal",29],["inci",38],["burcu",33]])

In [33]:
rdd2.take(2)

[['ahmet', 25], ['cemal', 29]]

Python sozlukten rdd olusturma

In [37]:
my_dict={
    "ogrenci":["Ali","Mehmet"],
    "notlar":[70,80]
}

In [38]:
import pandas as pd

In [40]:
pddataframe=pd.DataFrame(my_dict)

In [41]:
pddataframe

  ogrenci  notlar
0     Ali      70
1  Mehmet      80

In [47]:
rdd_from_pandas_dataFarame=pyspark.createDataFrame(pddataframe)

In [48]:
rdd_from_pandas_dataFarame.show()

+-------+------+
|ogrenci|notlar|
+-------+------+
|    Ali|    70|
| Mehmet|    80|
+-------+------+

In [49]:
rdd_from_pandas_dataFarame=rdd_from_pandas_dataFarame.rdd

In [50]:
rdd_from_pandas_dataFarame.take(2)

[Row(ogrenci='Ali', notlar=70), Row(ogrenci='Mehmet', notlar=80)]

metin dosyasından rdd olusturma

In [51]:
rdd_metin=sc.textFile("C:\\Users\\mwolf\\3D Objects\\python veri bilimi\\SPARK\\omer_seyfettin_forsa_hikaye.txt")

In [52]:
rdd_metin.take(10)

['Ömer Seyfettin - Forsa',
 '',
 'Akdeniz’in, kahramanlık yuvası sonsuz ufuklarına bakan küçük tepe, minimini bir çiçek ormanı gibiydi. İnce uzun dallı badem ağaçlarının alaca gölgeleri sahile inen keçiyoluna düşüyor, ilkbaharın tatlı rüzgârıyla sarhoş olan martılar, çılgın bağrışlarıyla havayı çınlatıyordu. Badem bahçesinin yanı geniş bir bağdı. Beyaz taşlardan yapılmış kısa bir duvarın ötesindeki harabe vadiye kadar iniyordu. Bağın ortasındaki yıkık kulübenin kapısız girişinden bir ihtiyar çıktı. Saçı sakalı bembeyazdı. Kamburunu düzeltmek istiyormuş gibi gerindi. Elleri, ayakları titriyordu. Gök kadar boş, gök kadar sakin duran denize baktı, baktı.',
 '',
 '– Hayırdır inşallah! dedi.',
 '',
 'Duvarın dibindeki taş yığınlarına çöktü. Başını ellerinin arasına aldı. Sırtında yırtık bir çuval vardı. Çıplak ayakları topraktan yoğrulmuş gibiydi. Zayıf kolları kirli tunç rengindeydi. Yine başını kaldırdı. Gökle denizin birleştiği dumandan çizgiye dikkatle baktı, Ama görünürde bir şey yoktu.',
 '',
 'Bu, her gece uykusunda onu kurtarmak için birçok geminin pupa yelken geldiğini gören zavallı eski bir Türk forsasıydı. Tutsak olalı kırk yılı geçmişti. Otuz yaşında, dinç, levent, güçlü bir kahramanken Malta korsanlarının eline düşmüştü. Yirmi yıl onların kadırgalarında kürek çekti. Yirmi yıl iki zincirle iki ayağından rutubetli bir geminin dibine bağlanmış yaşadı. Yirmi yılın yazları, kışları, rüzgârları, fırtınaları, güneşleri onun granit vücudunu eritemedi. Zincirleri küflendi, çürüdü, kırıldı. Yirmi yıl içinde birkaç kez halkalarını, çivilerini değiştirdiler. Ama onun çelikten daha sert kaslı bacaklarına bir şey olmadı. Yalnız aptes alamadığı için. üzülüyordu. Hep güneşin doğduğu yanı sol ilerisine alır, gözlerini kıbleye çevirir, beş vakit namazı gizli işaretle yerine getirirdi.',
 '']

In [53]:
sc.stop()

RDD tRANSFORMATION AND ACTIONS

TRANFORMATIONS
map()
filter()
flatMap()
sample()
distinct()

In [55]:
#map(x => x*x) her bir satırA oldaklanıyor.
#filter(x => x<4) fonksiyon sonucu boolean oluyor.
#flatMap() her bir satırın her bir elemanına odaklanıyor
#distinct() tekrar edenleri teke donusturuyor.

2 RDD UZERINDE BASIC TRANSFORMATION LAR

union()
intersection()
subtract()
cartesian()

In [56]:
#union() birlestirme hic islem yapmadan bırkestırıyor
#intersection() kesisenleri bırlestrıyor.
#subtract() sadece rdd 1 de olanları bırakır
#cartesian() olasılıkları yazdırır

 Basic actions
 collect()
 count()
 countByValue()
 take()
 top()
 takeOrdered()
 takeSample()
 reduce()
 fold()
 aggregate()
 foreach()

In [57]:
 #collect() RDD deki tüm elemanları driver bilgisayara doner.Buyuk RDD LER uzerınde calıstırmak tehlıkelıdır.
 #count() eleman sayısını sayar veri tipi long
 #countByValue() hangı elemandan kac tane var sayar.
 #take() RDD ıcınden ıstenen sayıda elemanı doner.
# top() take benzer en uzttekı belırlenen sayı kadar eleman getırır.
 #takeOrdered() RDD icinde ki elemanları sıralayarak belırlenen sayı kadarını bır array olarak doner.
 #takeSample() RDD ıcınden ıstenen mıktarda orneklem ıceren bır array doner. takeSample(false,3,42) 42 random_rate gibi
 #reduce((x.y)=>x+y) belirlenen bir fonksiyonu RDD ler uerınde paralel olarak uygula  ve bır sonuc uretır.
 #fold() reduce ile aynı sadece 0 degeri farklıdır.
 #aggregate() reduce ile aynı cıktı olarak fazladan kac eleman ıle ıslem yapıldıgını gosterır.
 #foreach()

TRANFORMATIONS uygulama
map()
filter()
flatMap()
sample()
distinct()

In [58]:
liste=[1,2,5,8,6,6,54,62,99,51]

In [64]:
liste_RDD=sc.parallelize(liste)

In [65]:
liste_RDD.take(2)

[1, 2]

In [66]:
liste_RDD.top(7)

[99, 62, 54, 51, 8, 6, 6]

In [68]:
liste_RDD.map(lambda x :x*x).take(10)

[1, 4, 25, 64, 36, 36, 2916, 3844, 9801, 2601]

In [69]:
liste_RDD.filter(lambda x: x>5).take(10)

[8, 6, 6, 54, 62, 99, 51]

In [71]:
metin=["emel eve gel","aLİ ATA bak","Ahmet okula git"]

In [72]:
metin_rdd=sc.parallelize(metin)

In [73]:
metin_rdd.take(1)

['emel eve gel']

In [74]:
metin_rdd.map(lambda x : x.upper() ).take(1)

['EMEL EVE GEL']

In [76]:
metin_rdd.flatMap(lambda x :x.split(" ")).map(lambda x: x.upper()).take(10)

['EMEL', 'EVE', 'GEL', 'ALİ', 'ATA', 'BAK', 'AHMET', 'OKULA', 'GIT']

In [78]:
liste_RDD.distinct().take(10)

[8, 1, 5, 2, 6, 54, 62, 99, 51]

In [84]:
liste_RDD.sample(True,0.7,45).take(5)

[8, 8, 6, 6, 6]

In [85]:
sc.stop()

Basic actions collect() count() countByValue() take() top() takeOrdered() takeSample() reduce() fold() aggregate() foreach()

In [90]:
rdd=sc.parallelize([1,2,9,4,2,4,5,1,1])

In [91]:
rdd.collect() # rdd nin tamamını getirir rdd bizim cihazımızın hafızasından büyükse problem olur.

[1, 2, 9, 4, 2, 4, 5, 1, 1]

In [92]:
rdd.countByValue()

defaultdict(int, {1: 3, 2: 2, 9: 1, 4: 2, 5: 1})

In [93]:
rdd.take(3)

[1, 2, 9]

In [94]:
rdd.top(4)

[9, 5, 4, 4]

In [95]:
rdd.takeOrdered(10)

[1, 1, 1, 2, 2, 4, 4, 5, 9]

In [98]:
rdd.takeSample(False,5,12)

[5, 1, 4, 2, 9]

In [99]:
rdd.reduce(lambda x,y: x+y)

29

In [100]:
rdd.fold(0,lambda x,y:x+y)

29

In [101]:
rdd.sum()

29

In [103]:
rdd.aggregate(
    (1, 0),
    (lambda acc, value: (acc[0] + value, acc[1] + 1)),
    (lambda acc1, acc2: (acc1[0] + acc2[0], acc1[1] + acc2[1])))

(34, 9)

In [105]:
insanlar_RDD=sc.textFile("OnlineRetail.csv")

In [107]:
insanlar_RDD.take(10)

['InvoiceNo;StockCode;Description;Quantity;InvoiceDate;UnitPrice;CustomerID;Country',
 '536365;85123A;WHITE HANGING HEART T-LIGHT HOLDER;6;1.12.2010 08:26;2,55;17850;United Kingdom',
 '536365;71053;WHITE METAL LANTERN;6;1.12.2010 08:26;3,39;17850;United Kingdom',
 '536365;84406B;CREAM CUPID HEARTS COAT HANGER;8;1.12.2010 08:26;2,75;17850;United Kingdom',
 '536365;84029G;KNITTED UNION FLAG HOT WATER BOTTLE;6;1.12.2010 08:26;3,39;17850;United Kingdom',
 '536365;84029E;RED WOOLLY HOTTIE WHITE HEART.;6;1.12.2010 08:26;3,39;17850;United Kingdom',
 '536365;22752;SET 7 BABUSHKA NESTING BOXES;2;1.12.2010 08:26;7,65;17850;United Kingdom',
 '536365;21730;GLASS STAR FROSTED T-LIGHT HOLDER;6;1.12.2010 08:26;4,25;17850;United Kingdom',
 '536366;22633;HAND WARMER UNION JACK;6;1.12.2010 08:28;1,85;17850;United Kingdom',
 '536366;22632;HAND WARMER RED POLKA DOT;6;1.12.2010 08:28;1,85;17850;United Kingdom']

In [111]:
insanlar_RDD=insanlar_RDD.filter(lambda x: "InvoiceNo" not in x)

In [112]:
insanlar_RDD.take(10)

['536365;85123A;WHITE HANGING HEART T-LIGHT HOLDER;6;1.12.2010 08:26;2,55;17850;United Kingdom',
 '536365;71053;WHITE METAL LANTERN;6;1.12.2010 08:26;3,39;17850;United Kingdom',
 '536365;84406B;CREAM CUPID HEARTS COAT HANGER;8;1.12.2010 08:26;2,75;17850;United Kingdom',
 '536365;84029G;KNITTED UNION FLAG HOT WATER BOTTLE;6;1.12.2010 08:26;3,39;17850;United Kingdom',
 '536365;84029E;RED WOOLLY HOTTIE WHITE HEART.;6;1.12.2010 08:26;3,39;17850;United Kingdom',
 '536365;22752;SET 7 BABUSHKA NESTING BOXES;2;1.12.2010 08:26;7,65;17850;United Kingdom',
 '536365;21730;GLASS STAR FROSTED T-LIGHT HOLDER;6;1.12.2010 08:26;4,25;17850;United Kingdom',
 '536366;22633;HAND WARMER UNION JACK;6;1.12.2010 08:28;1,85;17850;United Kingdom',
 '536366;22632;HAND WARMER RED POLKA DOT;6;1.12.2010 08:28;1,85;17850;United Kingdom',
 '536367;84879;ASSORTED COLOUR BIRD ORNAMENT;32;1.12.2010 08:34;1,69;13047;United Kingdom']

In [113]:
insanlar_RDD.map(lambda x: x.upper()).take(10)

['536365;85123A;WHITE HANGING HEART T-LIGHT HOLDER;6;1.12.2010 08:26;2,55;17850;UNITED KINGDOM',
 '536365;71053;WHITE METAL LANTERN;6;1.12.2010 08:26;3,39;17850;UNITED KINGDOM',
 '536365;84406B;CREAM CUPID HEARTS COAT HANGER;8;1.12.2010 08:26;2,75;17850;UNITED KINGDOM',
 '536365;84029G;KNITTED UNION FLAG HOT WATER BOTTLE;6;1.12.2010 08:26;3,39;17850;UNITED KINGDOM',
 '536365;84029E;RED WOOLLY HOTTIE WHITE HEART.;6;1.12.2010 08:26;3,39;17850;UNITED KINGDOM',
 '536365;22752;SET 7 BABUSHKA NESTING BOXES;2;1.12.2010 08:26;7,65;17850;UNITED KINGDOM',
 '536365;21730;GLASS STAR FROSTED T-LIGHT HOLDER;6;1.12.2010 08:26;4,25;17850;UNITED KINGDOM',
 '536366;22633;HAND WARMER UNION JACK;6;1.12.2010 08:28;1,85;17850;UNITED KINGDOM',
 '536366;22632;HAND WARMER RED POLKA DOT;6;1.12.2010 08:28;1,85;17850;UNITED KINGDOM',
 '536367;84879;ASSORTED COLOUR BIRD ORNAMENT;32;1.12.2010 08:34;1,69;13047;UNITED KINGDOM']

In [115]:
insanlar_RDD.flatMap(lambda x : x.split(";")).take(10)

['536365',
 '85123A',
 'WHITE HANGING HEART T-LIGHT HOLDER',
 '6',
 '1.12.2010 08:26',
 '2,55',
 '17850',
 'United Kingdom',
 '536365',
 '71053']

In [117]:
insanlar_RDD.flatMap(lambda x : x.split(";")).map(lambda x: x.upper()).take(5)

['536365',
 '85123A',
 'WHITE HANGING HEART T-LIGHT HOLDER',
 '6',
 '1.12.2010 08:26']

PairRDD TRANSFORMATİONS

In [118]:
retailRDD=sc.textFile("OnlineRetail.csv")

In [119]:
retailRDD.take(10)

['InvoiceNo;StockCode;Description;Quantity;InvoiceDate;UnitPrice;CustomerID;Country',
 '536365;85123A;WHITE HANGING HEART T-LIGHT HOLDER;6;1.12.2010 08:26;2,55;17850;United Kingdom',
 '536365;71053;WHITE METAL LANTERN;6;1.12.2010 08:26;3,39;17850;United Kingdom',
 '536365;84406B;CREAM CUPID HEARTS COAT HANGER;8;1.12.2010 08:26;2,75;17850;United Kingdom',
 '536365;84029G;KNITTED UNION FLAG HOT WATER BOTTLE;6;1.12.2010 08:26;3,39;17850;United Kingdom',
 '536365;84029E;RED WOOLLY HOTTIE WHITE HEART.;6;1.12.2010 08:26;3,39;17850;United Kingdom',
 '536365;22752;SET 7 BABUSHKA NESTING BOXES;2;1.12.2010 08:26;7,65;17850;United Kingdom',
 '536365;21730;GLASS STAR FROSTED T-LIGHT HOLDER;6;1.12.2010 08:26;4,25;17850;United Kingdom',
 '536366;22633;HAND WARMER UNION JACK;6;1.12.2010 08:28;1,85;17850;United Kingdom',
 '536366;22632;HAND WARMER RED POLKA DOT;6;1.12.2010 08:28;1,85;17850;United Kingdom']

In [120]:
first=retailRDD.first()

In [123]:
first

'InvoiceNo;StockCode;Description;Quantity;InvoiceDate;UnitPrice;CustomerID;Country'

In [125]:
first_line=sc.parallelize([first])

In [127]:
reatailRDDWithoutHeader=retailRDD.subtract(first_line)

In [130]:
reatailRDDWithoutHeader.top(5)

['C581569;84978;HANGING HEART JAR T-LIGHT HOLDER;-1;9.12.2011 11:58;1,25;17315;United Kingdom',
 'C581569;20979;36 PENCILS TUBE RED RETROSPOT;-5;9.12.2011 11:58;1,25;17315;United Kingdom',
 'C581568;21258;VICTORIAN SEWING BOX LARGE;-5;9.12.2011 11:57;10,95;15311;United Kingdom',
 'C581499;M;Manual;-1;9.12.2011 10:28;224,69;15498;United Kingdom',
 'C581490;23144;ZINC T-LIGHT HOLDER STARS SMALL;-11;9.12.2011 09:57;0,83;14397;United Kingdom']

Birim miktarı 30 dan büyük olanları filtreleme

In [131]:
reatailRDDWithoutHeader.filter(lambda x : int(x.split(";")[3])>30).take(5)

['536378;85183B;CHARLIE & LOLA WASTEPAPER BIN FLORA;48;1.12.2010 09:37;1,25;14688;United Kingdom',
 '536381;22719;GUMBALL MONOCHROME COAT RACK;36;1.12.2010 09:41;1,06;15311;United Kingdom',
 '536384;22470;HEART OF WICKER LARGE;40;1.12.2010 09:53;2,55;18074;United Kingdom',
 '536386;85099C;JUMBO  BAG BAROQUE BLACK WHITE;100;1.12.2010 09:57;1,65;16029;United Kingdom',
 '536387;79321;CHILLI LIGHTS;192;1.12.2010 09:58;3,82;16029;United Kingdom']

ürün isimlerinden Coffee içerenleri filtreleme

In [132]:
reatailRDDWithoutHeader.filter(lambda x: "COFFEE" in x.split(";")[2]).take(10)

['536739;85159A;BLACK TEA,COFFEE,SUGAR JARS;2;2.12.2010 13:08;6,35;14180;United Kingdom',
 '536750;37370;RETRO COFFEE MUGS ASSORTED;6;2.12.2010 14:04;1,06;17850;United Kingdom',
 '536787;37370;RETRO COFFEE MUGS ASSORTED;6;2.12.2010 15:24;1,06;17850;United Kingdom',
 '536804;37370;RETRO COFFEE MUGS ASSORTED;72;2.12.2010 16:34;1,06;14031;United Kingdom',
 '536805;37370;RETRO COFFEE MUGS ASSORTED;12;2.12.2010 16:38;1,25;14775;United Kingdom',
 '536864;21216;SET 3 RETROSPOT TEA,COFFEE,SUGAR;1;3.12.2010 11:27;11,02;000000;United Kingdom',
 '536865;37370;RETRO COFFEE MUGS ASSORTED;1;3.12.2010 11:28;16,13;000000;United Kingdom',
 '537126;21216;SET 3 RETROSPOT TEA,COFFEE,SUGAR;1;5.12.2010 12:13;4,95;18118;United Kingdom',
 '537231;22304;COFFEE MUG BLUE PAISLEY DESIGN;6;6.12.2010 09:21;2,55;13652;United Kingdom',
 '537236;21216;SET 3 RETROSPOT TEA,COFFEE,SUGAR;8;6.12.2010 09:52;4,95;16858;United Kingdom']

ikili filtreleme 1 birim miktarı 30 dan büyük olanları ve içinde "coffee" geçenleri filtreleme

In [137]:
def ikili_filtre (x):
                quantity=int(x.split(";")[3])
                description = x.split(";")[2]
                return (quantity>30) & ("COFFEE" in description)

In [138]:
reatailRDDWithoutHeader.filter(lambda x: ikili_filtre (x)).take(10)

['536804;37370;RETRO COFFEE MUGS ASSORTED;72;2.12.2010 16:34;1,06;14031;United Kingdom',
 '540176;22302;COFFEE MUG PEARS  DESIGN;36;5.01.2011 12:40;2,1;17511;United Kingdom',
 '540459;22970;LONDON BUS COFFEE MUG;36;7.01.2011 12:35;2,1;16191;United Kingdom',
 '541597;37370;RETRO COFFEE MUGS ASSORTED;216;19.01.2011 16:19;1,06;14031;United Kingdom',
 '542373;22303;COFFEE MUG APPLES DESIGN;36;27.01.2011 13:38;2,1;16767;United Kingdom',
 '542789;22970;LONDON BUS COFFEE MUG;36;1.02.2011 10:38;2,1;17511;United Kingdom',
 '543054;22300;COFFEE MUG DOG + BALL DESIGN;36;3.02.2011 10:39;2,1;13394;United Kingdom',
 '543594;22970;LONDON BUS COFFEE MUG;36;10.02.2011 12:15;2,1;18093;United Kingdom',
 '544164;22971;QUEENS GUARD COFFEE MUG;36;16.02.2011 13:02;2,1;17306;United Kingdom',
 '544480;22303;COFFEE MUG APPLES DESIGN;72;21.02.2011 10:32;2,1;14646;Netherlands']

In [13]:
retailRDD2=sc.textFile("OnlineRetail.csv")

In [14]:
retailRDD2.take(10)

['InvoiceNo;StockCode;Description;Quantity;InvoiceDate;UnitPrice;CustomerID;Country',
 '536365;85123A;WHITE HANGING HEART T-LIGHT HOLDER;6;1.12.2010 08:26;2,55;17850;United Kingdom',
 '536365;71053;WHITE METAL LANTERN;6;1.12.2010 08:26;3,39;17850;United Kingdom',
 '536365;84406B;CREAM CUPID HEARTS COAT HANGER;8;1.12.2010 08:26;2,75;17850;United Kingdom',
 '536365;84029G;KNITTED UNION FLAG HOT WATER BOTTLE;6;1.12.2010 08:26;3,39;17850;United Kingdom',
 '536365;84029E;RED WOOLLY HOTTIE WHITE HEART.;6;1.12.2010 08:26;3,39;17850;United Kingdom',
 '536365;22752;SET 7 BABUSHKA NESTING BOXES;2;1.12.2010 08:26;7,65;17850;United Kingdom',
 '536365;21730;GLASS STAR FROSTED T-LIGHT HOLDER;6;1.12.2010 08:26;4,25;17850;United Kingdom',
 '536366;22633;HAND WARMER UNION JACK;6;1.12.2010 08:28;1,85;17850;United Kingdom',
 '536366;22632;HAND WARMER RED POLKA DOT;6;1.12.2010 08:28;1,85;17850;United Kingdom']

RDD MAP TRANSFORMATİON

In [17]:
retailRDD=retailRDD2.filter(lambda  x: "Quantity" not in x)

In [20]:
retailRDD.take(5)

['536365;85123A;WHITE HANGING HEART T-LIGHT HOLDER;6;1.12.2010 08:26;2,55;17850;United Kingdom',
 '536365;71053;WHITE METAL LANTERN;6;1.12.2010 08:26;3,39;17850;United Kingdom',
 '536365;84406B;CREAM CUPID HEARTS COAT HANGER;8;1.12.2010 08:26;2,75;17850;United Kingdom',
 '536365;84029G;KNITTED UNION FLAG HOT WATER BOTTLE;6;1.12.2010 08:26;3,39;17850;United Kingdom',
 '536365;84029E;RED WOOLLY HOTTIE WHITE HEART.;6;1.12.2010 08:26;3,39;17850;United Kingdom']

In [21]:
def cancelled_price(line):
    is_cancelled= True if (line.split(";")[0].startswith("C")) else False
    quantity=float(line.split(";")[3])
    total=float(line.split(";")[5].replace(",","."))
    return (is_cancelled, total)

In [22]:
cancelled_total=retailRDD.map(cancelled_price)

In [24]:
cancelled_total.take(2)

[(False, 2.55), (False, 3.39)]

In [25]:
cancelled_total_reduce=cancelled_total.reduceByKey(lambda x,y:x+y)

In [32]:
cancelled_total_reduce.take(2)

[(False, 2049323.6539985123), (True, 449480.32000000635)]

In [33]:
cancelled_total_reduce.filter(lambda x: x[0]==True).take(2)

[(True, 449480.32000000635)]

In [30]:
cancelled_total_reduce.filter(lambda x: x[0]==True).map(lambda x: x[1]).take(1)

[449480.32000000635]

In [92]:
insanlarRDD2=sc.textFile("simpledataset.csv")

In [93]:
insanlarRDD2.take(5)

['sirano,isim,yas,cinsiyet,meslek,sehir,aylik_gelir,mal_mulk',
 '1,Cemal,35,E,Isci,Ankara,3500,araba',
 '2,ceyda ,42,K,Memur,Kayseri,4200,araba|ev',
 '3,Timur,30,,Müzüsyen,Istanbul   ,9000,araba|ev|yazlık',
 '4,Burcu ,29,K,Pazarlamacı,    Ankara,4200,araba']

In [94]:
insanlarRDD=insanlarRDD2.filter(lambda x : "sirano" not in x)
insanlarRDD.take(3)

['1,Cemal,35,E,Isci,Ankara,3500,araba',
 '2,ceyda ,42,K,Memur,Kayseri,4200,araba|ev',
 '3,Timur,30,,Müzüsyen,Istanbul   ,9000,araba|ev|yazlık']

In [95]:
def meslek_maas(line):
    meslek=line.split(",")[4].replace('Pazarlamacı','Pazarlamaci')
    maas=float(line.split(",")[6])
    return(meslek,maas)

In [96]:
meslekmaas=insanlarRDD.map(meslek_maas)

In [97]:
meslekmaas.take(5)

[('Isci', 3500.0),
 ('Memur', 4200.0),
 ('Müzüsyen', 9000.0),
 ('Pazarlamaci', 4200.0),
 ('Pazarlamaci', 4800.0)]

In [98]:
meslekmaas=meslekmaas.mapValues(lambda x : (x,1))

In [99]:
meslekmaas.take(10)

[('Isci', (3500.0, 1)),
 ('Memur', (4200.0, 1)),
 ('Müzüsyen', (9000.0, 1)),
 ('Pazarlamaci', (4200.0, 1)),
 ('Pazarlamaci', (4800.0, 1)),
 ('Memur', (4250.0, 1)),
 ('Pazarlamaci', (7300.0, 1)),
 ('Müzüsyen', (12000.0, 1)),
 ('Doktor', (180000.0, 1)),
 ('Berber', (12000.0, 1))]

In [100]:
meslekmaas=meslekmaas.reduceByKey(lambda x,y : (x[0]+y[0],x[1]+y[1]) )
meslekmaas.take(10)

[('Memur', (8450.0, 2)),
 ('Pazarlamaci', (16300.0, 3)),
 ('Tuhafiyeci', (4.8, 1)),
 ('Tornacı', (4200.0, 1)),
 ('memur', (3750.0, 1)),
 ('Isci', (3500.0, 1)),
 ('Müzüsyen', (21000.0, 2)),
 ('Doktor', (194250.0, 2)),
 ('Berber', (12000.0, 1)),
 ('Müzisyen', (8700.0, 1))]

In [101]:
meslek_ortalama_maas= meslekmaas.mapValues(lambda x: x[0]/x[1])
meslek_ortalama_maas.take(10)

[('Memur', 4225.0),
 ('Pazarlamaci', 5433.333333333333),
 ('Tuhafiyeci', 4.8),
 ('Tornacı', 4200.0),
 ('memur', 3750.0),
 ('Isci', 3500.0),
 ('Müzüsyen', 10500.0),
 ('Doktor', 97125.0),
 ('Berber', 12000.0),
 ('Müzisyen', 8700.0)]

Pyspark Join

In [173]:
sc.stop()

In [174]:
pyspark= SparkSession.builder \
.master("local[4]") \
.appName("RDD-Olusturmak") \
.config("spark.executor.memory","4g") \
.config("spark.driver.memory","2g") \
.getOrCreate()

In [175]:
sc=pyspark.sparkContext

In [176]:
ProductsRDD=sc.textFile("products.csv")

In [177]:
order_itemsRDD=sc.textFile("order_items.csv")

In [178]:
ProductsRDD.take(5)

['productId,productCategoryId,productName,productDescription,productPrice,productImage',
 '1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,,59.98,http://images.acmesports.sports/Quest+Q64+10+FT.+x+10+FT.+Slant+Leg+Instant+Up+Canopy',
 "2,2,Under Armour Men's Highlight MC Football Clea,,129.99,http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat",
 "3,2,Under Armour Men's Renegade D Mid Football Cl,,89.99,http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat",
 "4,2,Under Armour Men's Renegade D Mid Football Cl,,89.99,http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat"]

In [179]:
order_itemsRDD.take(3)

['orderItemName,orderItemOrderId,orderItemProductId,orderItemQuantity,orderItemSubTotal,orderItemProductPrice',
 '1,1,957,1,299.98,299.98',
 '2,2,1073,1,199.99,199.99']

In [180]:
ProductsRDD=ProductsRDD.filter(lambda x: "productCategoryId" not in x)

In [181]:
ProductsRDD.take(5)

['1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,,59.98,http://images.acmesports.sports/Quest+Q64+10+FT.+x+10+FT.+Slant+Leg+Instant+Up+Canopy',
 "2,2,Under Armour Men's Highlight MC Football Clea,,129.99,http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat",
 "3,2,Under Armour Men's Renegade D Mid Football Cl,,89.99,http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat",
 "4,2,Under Armour Men's Renegade D Mid Football Cl,,89.99,http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat",
 '5,2,Riddell Youth Revolution Speed Custom Footbal,,199.99,http://images.acmesports.sports/Riddell+Youth+Revolution+Speed+Custom+Football+Helmet']

In [182]:
order_itemsRDD=order_itemsRDD.filter(lambda x: "orderItemName" not in x)

In [183]:
order_itemsRDD

PythonRDD[7] at RDD at PythonRDD.scala:53

In [184]:
def  make_order_itemsRDD(line):
    orderItemName = line.split(",")[0]
    orderItemOrderId = line.split(",")[1]
    orderItemProductId = line.split(",")[2]
    orderItemQuantity = line.split(",")[3]
    orderItemSubTotal = line.split(",")[4]
    orderItemProductPrice = line.split(",")[5]
    
    return(orderItemOrderId,(orderItemName,orderItemOrderId,orderItemProductId,orderItemQuantity,orderItemSubTotal,orderItemProductPrice))

In [185]:
order_items_Pair_RDD=order_itemsRDD.map(make_order_itemsRDD)

In [186]:
order_items_Pair_RDD.take(5)

[('1', ('1', '1', '957', '1', '299.98', '299.98')),
 ('2', ('2', '2', '1073', '1', '199.99', '199.99')),
 ('2', ('3', '2', '502', '5', '250.0', '50.0')),
 ('2', ('4', '2', '403', '1', '129.99', '129.99')),
 ('4', ('5', '4', '897', '2', '49.98', '24.99'))]

In [187]:
def  make_pair_Products(line):
    
        productId = line.split(',')[0] 
        productCategoryId= line.split(",")[1]
        productName= line.split(",")[2]
        productDescription= line.split(",")[3]
        productPrice= line.split(",")[4]
        productImage= line.split(",")[5]
        return(productId,(productCategoryId, productName,productDescription, productPrice,productImage))

In [188]:
ProductsRDD_pair=ProductsRDD.map(make_pair_Products)

In [189]:
ProductsRDD_pair.take(5)

[('1',
  ('2',
   'Quest Q64 10 FT. x 10 FT. Slant Leg Instant U',
   '',
   '59.98',
   'http://images.acmesports.sports/Quest+Q64+10+FT.+x+10+FT.+Slant+Leg+Instant+Up+Canopy')),
 ('2',
  ('2',
   "Under Armour Men's Highlight MC Football Clea",
   '',
   '129.99',
   'http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat')),
 ('3',
  ('2',
   "Under Armour Men's Renegade D Mid Football Cl",
   '',
   '89.99',
   'http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat')),
 ('4',
  ('2',
   "Under Armour Men's Renegade D Mid Football Cl",
   '',
   '89.99',
   'http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat')),
 ('5',
  ('2',
   'Riddell Youth Revolution Speed Custom Footbal',
   '',
   '199.99',
   'http://images.acmesports.sports/Riddell+Youth+Revolution+Speed+Custom+Football+Helmet'))]

In [190]:
ProductsRDD_pair.count()

1345

In [191]:
order_items_Pair_RDD.count()

172198

In [195]:
order_items_products_RDD=ProductsRDD_pair.join(order_items_Pair_RDD)

In [196]:
order_items_products_RDD.take(3)

[('4',
  (('2',
    "Under Armour Men's Renegade D Mid Football Cl",
    '',
    '89.99',
    'http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat'),
   ('5', '4', '897', '2', '49.98', '24.99'))),
 ('4',
  (('2',
    "Under Armour Men's Renegade D Mid Football Cl",
    '',
    '89.99',
    'http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat'),
   ('6', '4', '365', '5', '299.95', '59.99'))),
 ('4',
  (('2',
    "Under Armour Men's Renegade D Mid Football Cl",
    '',
    '89.99',
    'http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat'),
   ('7', '4', '502', '3', '150.0', '50.0')))]

In [197]:
order_items_products_RDD.count()

3329

RDD İLE BERABER sPARK ın ikici düsük seviyeli API sidir.

Broadcast variables ve accumulators

Accumulator mutebla, broadcast variables ise immutable

accumulators gorevlere (task) ait ortak sonucları toplamak ıcın ornegın sayac (counter)

Broadcast varıables ıse verı bırlestırmelerde shuffle malıyetını azaltmak ıcın daha lookup tablolar seklınde yaygın kullanımı vardır.

In [198]:
sc.stop()

In [199]:
import findspark
findspark.init()
from pyspark import SparkConf, SparkContext
conf= SparkConf().setMaster("local[4]").setAppName("BroadcastVariablesOps")
sc = SparkContext(conf=conf).getOrCreate()

Pruduct.csv dosyasını okutalım.

In [208]:
def read_products():
    products_text_wrapper = open("products.csv","r",encoding ="utf-8")
    
    # satir okuma
    products = products_text_wrapper.readlines()
    
    product_id_name ={}
    
    for line in products:
        if "productCategoryId" not in line:
            product_id= int(line.split(",")[0])
            product_name=line.split(",")[2]
            
            product_id_name.update({product_id:product_name})
    return product_id_name

In [210]:
products=read_products()

In [212]:
broadcast_products=sc.broadcast(products)

In [215]:
broadcast_products.value.get(114)

"Nike Men's Fly Shorts 2.0"

order_itemı okuma ve veri seti olusturma

In [217]:
order_items_RDD=sc.textFile("order_items.csv")\
.filter(lambda x: "orderItemName" not in x)

In [218]:
order_items_RDD.take(5)

['1,1,957,1,299.98,299.98',
 '2,2,1073,1,199.99,199.99',
 '3,2,502,5,250.0,50.0',
 '4,2,403,1,129.99,129.99',
 '5,4,897,2,49.98,24.99']

In [219]:
def make_pair_RDD(line):
    
    orderItemProductId = int(line.split(",")[2])
    
    orderItemSubTotal = float(line.split(",")[4])
   
    return(orderItemProductId,orderItemSubTotal)

In [220]:
orders_pair_RDD=order_items_RDD.map(make_pair_RDD)

In [221]:
orders_pair_RDD.take(10)

[(957, 299.98),
 (1073, 199.99),
 (502, 250.0),
 (403, 129.99),
 (897, 49.98),
 (365, 299.95),
 (502, 150.0),
 (1014, 199.92),
 (957, 299.98),
 (365, 299.95)]

In [236]:
sorted_orders=orders_pair_RDD.reduceByKey(lambda x,y: (x+y))\
.map(lambda x:(x[1],x[0]))\
.sortByKey(False)\
.map(lambda x:(x[1],x[0]))\
#.take(10)

order_items ile broadcast variable olan products birlestirme

In [239]:
sorted_orders_with_product_name=sorted_orders\
.map(lambda x: (broadcast_products.value.get(x[0]),x[1]))

In [240]:
sorted_orders_with_product_name.take(10)

[('Field & Stream Sportsman 16 Gun Fire Safe', 6929653.499999708),
 ('Perfect Fitness Perfect Rip Deck', 4421143.019999639),
 ("Diamondback Women's Serene Classic Comfort Bi", 4118425.419999785),
 ("Nike Men's Free 5.0+ Running Shoe", 3667633.1999997487),
 ("Nike Men's Dri-FIT Victory Golf Polo", 3147800.0),
 ('Pelican Sunstream 100 Kayak', 3099844.999999871),
 ("Nike Men's CJ Elite 2 TD Football Cleat", 2891757.5399998166),
 ("O'Brien Men's Neoprene Life Vest", 2888993.939999649),
 ("Under Armour Girls' Toddler Spine Surge Runni", 1269082.649999932),
 ('adidas Youth Germany Black/Red Away Match Soc', 67830.0)]

In [243]:
sc.stop()

 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^Spark Data Frame  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

In [244]:
import findspark
findspark.init()

In [245]:
from pyspark.sql import SparkSession

In [247]:
spark = SparkSession.builder. \
master("local[4]"). \
appName("DataFrame-Giris"). \
config("spark.driver.memory","2g"). \
config("spark.executor.memory","4g"). \
getOrCreate()

In [248]:
sc = spark.sparkContext

 Listeden DataFrame Olusturma

In [249]:
from pyspark.sql import Row
list_rdd = sc.parallelize([1,2,3,4,5,6,7,4,3,4,6]). \
map(lambda x: Row(x))

In [252]:
df_from_list=list_rdd.toDF(["rAKAMLAR"])

In [253]:
df_from_list.show()

+--------+
|rAKAMLAR|
+--------+
|       1|
|       2|
|       3|
|       4|
|       5|
|       6|
|       7|
|       4|
|       3|
|       4|
|       6|
+--------+

range ile DF olusturma

In [254]:
df_from_range = sc.parallelize(range(10,100,5)). \
map(lambda x: (x,)). \
toDF(["RAKAMLAR"])

In [256]:
df_from_range .show()

+--------+
|RAKAMLAR|
+--------+
|      10|
|      15|
|      20|
|      25|
|      30|
|      35|
|      40|
|      45|
|      50|
|      55|
|      60|
|      65|
|      70|
|      75|
|      80|
|      85|
|      90|
|      95|
+--------+

Dosyadan DF

In [257]:
df_from_file = spark.read.csv("OnlineRetail.csv")

In [258]:
df_from_file.show()

+--------------------+
|                 _c0|
+--------------------+
|InvoiceNo;StockCo...|
|536365;85123A;WHI...|
|536365;71053;WHIT...|
|536365;84406B;CRE...|
|536365;84029G;KNI...|
|536365;84029E;RED...|
|536365;22752;SET ...|
|536365;21730;GLAS...|
|536366;22633;HAND...|
|536366;22632;HAND...|
|536367;84879;ASSO...|
|536367;22745;POPP...|
|536367;22748;POPP...|
|536367;22749;FELT...|
|536367;22310;IVOR...|
|536367;84969;BOX ...|
|536367;22623;BOX ...|
|536367;22622;BOX ...|
|536367;21754;HOME...|
|536367;21755;LOVE...|
+--------------------+
only showing top 20 rows

Dosyada DF i gelistiriyoruz

In [264]:
df_from_file = spark.read \
.option("sep",";")  \
.option("header","true") \
.option("inferSchema","True") \
.csv("OnlineRetail.csv")
df_from_file.show()

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|1.12.2010 08:26|     2,55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|1.12.2010 08:26|     2,75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|1.12.2010 08:26|     7,65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|1.12.2010 08:26|     4,25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|1.12.2010 08:28|     1,85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|1.12.2010 08:28|     1,85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|1.12.2010 08:34|     1,69|     13047|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|1.12.2010 08:34|      2,1|     13047|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|1.12.2010 08:34|      2,1|     13047|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|1.12.2010 08:34|     3,75|     13047|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|1.12.2010 08:34|     1,65|     13047|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|1.12.2010 08:34|     4,25|     13047|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|1.12.2010 08:34|     4,95|     13047|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|1.12.2010 08:34|     9,95|     13047|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|1.12.2010 08:34|     5,95|     13047|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|1.12.2010 08:34|     5,95|     13047|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|1.12.2010 08:34|     7,95|     13047|United Kingdom|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
only showing top 20 rows

In [265]:
df_from_file.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: string (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)

In [266]:
df_from_file.count()

541909

In [270]:
df_from_file.select("Quantity","Description").show()

+--------+--------------------+
|Quantity|         Description|
+--------+--------------------+
|       6|WHITE HANGING HEA...|
|       6| WHITE METAL LANTERN|
|       8|CREAM CUPID HEART...|
|       6|KNITTED UNION FLA...|
|       6|RED WOOLLY HOTTIE...|
|       2|SET 7 BABUSHKA NE...|
|       6|GLASS STAR FROSTE...|
|       6|HAND WARMER UNION...|
|       6|HAND WARMER RED P...|
|      32|ASSORTED COLOUR B...|
|       6|POPPY'S PLAYHOUSE...|
|       6|POPPY'S PLAYHOUSE...|
|       8|FELTCRAFT PRINCES...|
|       6|IVORY KNITTED MUG...|
|       6|BOX OF 6 ASSORTED...|
|       3|BOX OF VINTAGE JI...|
|       2|BOX OF VINTAGE AL...|
|       3|HOME BUILDING BLO...|
|       3|LOVE BUILDING BLO...|
|       4|RECIPE BOX WITH M...|
+--------+--------------------+
only showing top 20 rows

In [271]:
df_from_file.sort("Quantity").show(10)

+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|     InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
|  C581484|    23843|PAPER CRAFT , LIT...|  -80995| 9.12.2011 09:27|     2,08|     16446|United Kingdom|
|  C541433|    23166|MEDIUM CERAMIC TO...|  -74215|18.01.2011 10:17|     1,04|     12346|United Kingdom|
|   556690|    23005|printing smudges/...|   -9600|14.06.2011 10:37|        0|         0|United Kingdom|
|   556691|    23005|printing smudges/...|   -9600|14.06.2011 10:37|        0|         0|United Kingdom|
|  C536757|    84347|ROTATING SILVER A...|   -9360| 2.12.2010 14:23|     0,03|     15838|United Kingdom|
|   556687|    23003|Printing smudges/...|   -9058|14.06.2011 10:36|        0|         0|United Kingdom|
|   546152|   72140F|          throw away|   -5368| 9.03.2011 17:25|        0|         0|United Kingdom|
|   573596|   79323W|Unsaleable, destr...|   -4830|31.10.2011 15:17|        0|         0|United Kingdom|
|   566768|    16045|              000000|   -3667|14.09.2011 17:53|        0|         0|United Kingdom|
|   565304|    16259|              000000|   -3167| 2.09.2011 12:18|        0|         0|United Kingdom|
+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
only showing top 10 rows

In [272]:
df_from_file.sort("Quantity").explain() #fiziksel planı acıkllıyor.

== Physical Plan ==
*(1) Sort [Quantity#225 ASC NULLS FIRST], true, 0
+- Exchange rangepartitioning(Quantity#225 ASC NULLS FIRST, 200), true, [id=#205]
   +- FileScan csv [InvoiceNo#222,StockCode#223,Description#224,Quantity#225,InvoiceDate#226,UnitPrice#227,CustomerID#228,Country#229] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[file:/C:/Users/mwolf/3D Objects/python veri bilimi/SPARK/OnlineRetail.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<InvoiceNo:string,StockCode:string,Description:string,Quantity:int,InvoiceDate:string,UnitP...

Data Frame WordCound uygulaması

In [275]:
hikaye_df= spark.read.text("omer_seyfettin_forsa_hikaye.txt")

In [277]:
hikaye_df.show(3,truncate=False)

+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|value                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Ömer Seyfettin - Forsa                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |
|                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
|Akdeniz’in, kahramanlık yuvası sonsuz ufuklarına bakan küçük tepe, minimini bir çiçek ormanı gibiydi. İnce uzun dallı badem ağaçlarının alaca gölgeleri sahile inen keçiyoluna düşüyor, ilkbaharın tatlı rüzgârıyla sarhoş olan martılar, çılgın bağrışlarıyla havayı çınlatıyordu. Badem bahçesinin yanı geniş bir bağdı. Beyaz taşlardan yapılmış kısa bir duvarın ötesindeki harabe vadiye kadar iniyordu. Bağın ortasındaki yıkık kulübenin kapısız girişinden bir ihtiyar çıktı. Saçı sakalı bembeyazdı. Kamburunu düzeltmek istiyormuş gibi gerindi. Elleri, ayakları titriyordu. Gök kadar boş, gök kadar sakin duran denize baktı, baktı.|
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 3 rows

In [282]:
from pyspark.sql.functions import explode, split, col

kelimeler = hikaye_df.select(explode(split(col("value"), " ")).alias("value"))
kelimeler.show(3)

+---------+
|    value|
+---------+
|     Ömer|
|Seyfettin|
|        -|
+---------+
only showing top 3 rows

In [288]:
from pyspark.sql.functions import desc
kelimeler.groupBy("value") \
.count() \
.orderBy(desc("count")) \
.show(10)

+-----+-----+
|value|count|
+-----+-----+
|     |   59|
|  bir|   33|
|    –|   31|
|  yıl|    8|
| diye|    6|
| Türk|    5|
| Kırk|    5|
|dedi.|    5|
|doğru|    5|
| onun|    5|
+-----+-----+
only showing top 10 rows

In [290]:
sc.stop()

csv DOSYASI ÜZERİNDE SQL SORGUSU

In [293]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder. \
master("local[4]"). \
appName("sql-csv"). \
config("spark.driver.memory","4g"). \
config("spark.executor.memory","2g"). \
getOrCreate()

In [296]:
retailDF = spark.read \
.option("sep",";")  \
.option("header","true") \
.option("inferSchema","True") \
.csv("OnlineRetail.csv")
df_from_file.show()

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|1.12.2010 08:26|     2,55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|1.12.2010 08:26|     2,75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|1.12.2010 08:26|     7,65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|1.12.2010 08:26|     4,25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|1.12.2010 08:28|     1,85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|1.12.2010 08:28|     1,85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|1.12.2010 08:34|     1,69|     13047|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|1.12.2010 08:34|      2,1|     13047|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|1.12.2010 08:34|      2,1|     13047|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|1.12.2010 08:34|     3,75|     13047|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|1.12.2010 08:34|     1,65|     13047|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|1.12.2010 08:34|     4,25|     13047|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|1.12.2010 08:34|     4,95|     13047|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|1.12.2010 08:34|     9,95|     13047|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|1.12.2010 08:34|     5,95|     13047|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|1.12.2010 08:34|     5,95|     13047|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|1.12.2010 08:34|     7,95|     13047|United Kingdom|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
only showing top 20 rows

In [311]:
retailDF.cache()

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: string, UnitPrice: string, CustomerID: int, Country: string]

In [312]:
retailDF.createOrReplaceTempView("tablo")

In [313]:
spark.sql("""

select Country,sum(UnitPrice) UnitPrice
from tablo
Group by Country
order by UnitPrice








""").show(20)

+--------------------+---------+
|             Country|UnitPrice|
+--------------------+---------+
|              Canada|     null|
|             Lebanon|     null|
|           Lithuania|     null|
|United Arab Emirates|     null|
|                 USA|     null|
|        Saudi Arabia|     null|
|         Unspecified|     null|
|               Japan|     null|
|              Brazil|     null|
|             Iceland|     null|
|             Bahrain|     null|
|                 RSA|      0.0|
|      Czech Republic|     44.0|
|  European Community|     48.0|
|           Hong Kong|    175.0|
|              Israel|    190.0|
|           Singapore|    190.0|
|              Greece|    195.0|
|              Poland|    200.0|
|               Malta|    210.0|
+--------------------+---------+
only showing top 20 rows

In [1]:
sc.stop()

NameError: name 'sc' is not defined